@keyframes fadeLeft {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .fade-left {
    animation: fadeLeft 1s ease-in-out forwards;
  }
  .fadeLeft :hover{
color: black;
  }